<button (click) = "showHideForm()">Show/Hide form for employee adding</button>
<form id="form" *ngIf="visible">
    <input placeholder="first name" type="text" required [(ngModel)]="employee.firstName" [ngModelOptions]="{standalone: true}"> <br>
    <input placeholder="last name" type="text" required [(ngModel)]="employee.lastName" [ngModelOptions]="{standalone: true}"> <br>
    <input placeholder="email" type="email" required [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}"> <br>
    <input placeholder="phone" type="text" required [(ngModel)]="employee.phone" [ngModelOptions]="{standalone: true}"> <br>
    <button (click) = "addEmployee()">Add employee</button>
</form>
